title #{docTitle}
body
    form(action="/send",method="POST")
            div
                label(for="message") Message
                input(type="text",name="message")
            div
                label(for="key") Key
                input(type="text",name="key")
            
            button(type="submit") Add Product
    

